layout python3
[[ -d $PWD/.env ]] && unlink $PWD/.env
[[ -d $PWD/.venv ]] && unlink $PWD/.venv
ln -s $PWD/.direnv/$(basename $VIRTUAL_ENV)/ $PWD/.env
ln -s $PWD/.direnv/$(basename $VIRTUAL_ENV)/ $PWD/.venv
